@import '_variables';

// body {
//   background: $primary-background;
// }

#pastTrips, #upcomingTrips, #pendingTrips {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

article {
  background-color: lightblue;
  margin-bottom: 1em;
  h3, p {
    padding: 0 1em;
  }
  img {
    max-width: 250px;
  }
}
