@import '_variables';

// body {
//   background: $primary-background;
// }

[aria-hidden=true] {
  display: none;
}

#pastTrips, #upcomingTrips, #pendingTrips {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

article {
  background-color: lightblue;
  margin-bottom: 1em;
  h3, p {
    padding: 0 1em;
  }
  img {
    width: 250px;
    height: 150px;
  }
}

button {
  margin-bottom: 1em;
}

form {
  background-color: lightblue;
  padding: 1em;
  input {
    margin-bottom: 1em;
  }
  label {
    display: block;
    clear: left;
  }
}

article, form {
  box-shadow: 0px 0px 4px 1px black;
}

#amountSpentLastYear {
  text-align: center;
}
